
.BorTit
  border-left: 5px solid #FFB74D
  padding: 6px 0px 6px 10px
  margin-top: 6px

iframe
  border-radius: 10px

.w-30
  width: 30% !important 

.w-35
  width: 35% !important 

.w-55
  width: 55% !important 

.w-65 
  width: 65% !important 

.w-85 
  width: 85% !important

.w-90
  width: 90% !important

.w-95
  width: 95% !important

.cajon.color-secundario.cajon1
  background-color: #F3F9FF !important

.cajon.color-secundario.cajon1:before
  background-color: #727997 !important

.cajon.color-secundario.cajon2
  background-color: #FFF1DB !important

.cajon.color-secundario.cajon2:before
  background-color: #FF9800 !important

.slyder-b.slider1 a
  color: #111E61

.div_2_2
  border-radius: 15px
  background-color: #FFF1DB
  margin: 0px

.div_2_2_3
  border-radius: 15px
  border: 3px solid $color-primario

.bloque-texto-a.color-secundario.bloque2 
    background-color: #FFEFD7
  
.bloque-texto-a.color-secundario.bloque2:before
    background-color: #FFD494


.bloque-texto-d
    border-top: 1px solid #FFEE58

.bloque-texto-d.bloque2 i
    color: #FFEE58

.bloque-texto-d.color-secundario.bloque2:before
  background-color: #F3F9FF

.div_3_1
  background-color:#F5D5A5

.div_3_1_2
  background-color:#F3F9FF !important

// .div_3_1_2
//   background-color: white
//   position: relative
//   left: 0%
//   right: -20px
//   bottom: 0px
//   width: 100%
//   height: 100%
  //right: -10%
  //max-width: 1500px

.bloque-texto-a.color-secundario.bloque3_1
  background-image: url("/assets/curso/tema3/img02.png");
  background-color: transparent !important

.bloque3_1
  background-image: url("/assets/curso/tema3/img02.png") !important
  background-color: red !important
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover

.tabs-a__tab
  background-color: #E8E8E8 

.tabs-a.color-acento-botones.tabs-a__tab__selected.tab1
  background-color: #FF9800 !important
  color: white

.tarjeta.color-acento-botones--borde.tab1
  border: solid 4px #D7EDFF

.div_3_2
  background-color: #FFF1DB

.div_3_2_3
  background-color: #FFE9CA

.div_3_2_2
  background-color: #F3F9FF
  border-left: 15px solid #D2E1F1

.div_3_4_1 
  border-top-left-radius: 15px
  border-bottom-left-radius: 15px
  background-color: #FFD494
  
.div_3_4_2
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  background-color: #FFB74D

.divpaso
  background-color: #DEF1FF

.divAutocheck-in
  background-color: white

.lista-ol--separador li, .lista-ul--separador li
  border-bottom: solid 3px #AFAFAF



  //background-color: red
